{% extends 'base.html.twig' %}

{% block title %}{{ 'panier.index'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'panier.index'|trans }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{{ 'panier.id'|trans }}</th>
                <th>{{ 'panier.achat'|trans }}</th>
                <th>{{ 'panier.etat'|trans }}</th>
                <th>{{ 'panier.actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for panier in paniers %}
            <tr>
                <td>{{ panier.id }}</td>
                <td>{{ panier.achat ? panier.achat|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ panier.etat ? 'Yes' : 'No' }}</td>
             
            </tr>
        {% else %}
            <tr>
                <td colspan="4">{{ 'panier.manquant'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
