{% extends 'base.html.twig' %}

{% block title %}{{ 'produit.index'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'produit.index'|trans }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{{ 'produit.id'|trans }}</th>
                <th>{{ 'produit.nom'|trans }}</th>
                <th>{{ 'produit.desc'|trans }}</th>
                <th>{{ 'produit.prix'|trans }}</th>
                <th>{{ 'produit.stock'|trans }}</th>
                <th>{{ 'produit.photo'|trans }}</th>
                <th>{{ 'produit.actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.id }}</td>
                <td>{{ produit.nom }}</td>
                <td>{{ produit.description }}</td>
                <td>{{ produit.prix }}</td>
                <td>{{ produit.stock }}</td>
                <td>	<img src="{{asset('/uploads/'~ produit.photo)}}"></td>
                <td>
                    <a href="{{ path('produit_show', {'id': produit.id}) }}">{{ 'produit.voir'|trans }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">{{ 'produit.manquant'|trans }}</td>
            </tr>
       
        {% endfor %}
        </tbody>
    </table>
   
         
       
    {% if is_granted ('ROLE_ADMIN') %}
        <a href="{{ path('produit_new') }}">{{ 'produit.add'|trans }}</a>
    {% endif %}
{% endblock %}
