{% extends 'base.html.twig' %}

{% block title %}{{ 'contenu.index'|trans }}{% endblock %}

{% block body %}
<h1>{{ 'contenu.index'|trans }}</h1>

<table class="table">
    <thead>
        <tr>
            <th>{{ 'contenu.nom'|trans }}</th>
            <th>{{ 'contenu.qte'|trans }}</th>
            <th>{{ 'contenu.prix'|trans }}</th>
            <th>{{ 'contenu.date'|trans }}</th>
            <th>{{ 'contenu.montant'|trans }}</th>
            <th>{{ 'contenu.del'|trans }}</th>
            <th>{{ 'contenu.panierId'|trans }}</th>
        </tr>
    </thead>
    <tbody>

        {% set Total=0 %}

        {% for contenu_panier in contenu_paniers %}

        {% set Montant= contenu_panier.quantite * contenu_panier.produit.prix %}
        <tr>
            <td>{{contenu_panier.produit.nom}}</td>
            <td>{{ contenu_panier.quantite }}</td>
            <td>{{contenu_panier.produit.prix}}</td>
            <td>{{ contenu_panier.date ? contenu_panier.date|date('Y-m-d H:i:s') : '' }}</td>
            <td>{% set Montant = contenu_panier.quantite * contenu_panier.produit.prix %}
                {% set Total = Total + Montant %}
                {{Montant}}
            </td>
            <td>
                <a href="{{ path('contenu_panier_delete', {'id': contenu_panier.id}) }}">{{ 'contenu.del'|trans }}</a>
            </td>
            <td>
            {{contenu_panier.panier.id}}
            </td>

        </tr>
        {% else %}
        <tr>
            <td colspan="4">{{ 'contenu.manquant'|trans }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
    <h2>{{ 'contenu.pay'|trans }} {{Total}}</h2>
{% endblock %}